In [101]:
nama = "latip"
alamat,propinsi = "citamiang","4353453234"
age = 23
scorePy = 85.5
ismaa = False 
print("nama :",nama)
print("alamat :",alamat)
print("umur : ",age)
print("scorePy :",scorePy)
print("menikah ? :",ismaa)

nama : latip
alamat : citamiang
umur :  23
scorePy : 85.5
menikah ? : False

In [103]:
print("tipe data <name>",type(nama))
print("tipe data <alamat>",type(alamat))
print("tipe data <age>",type(age))
print("tipe data <scorePy>",type(scorePy))
print("tipe data <ismaa>",type(ismaa))

tipe data <name> <class 'str'>
tipe data <alamat> <class 'str'>
tipe data <age> <class 'int'>
tipe data <scorePy> <class 'float'>
tipe data <ismaa> <class 'bool'>

In [149]:
strToint = int(propinsi)
strToiFloat = float(propinsi)
strTobool = bool(propinsi)
print(strToint + 2 ,strToiFloat,strTobool,sep="_")

intTostr = str(age)
intToiFloat = float(age)
intTobool = bool(age)
print(intTostr,intToiFloat,intTobool,sep="_")

floatToint = int(scorePy)
floatToistr = str(scorePy)
floatTobool = bool(scorePy)
print(floatToint,floatToistr,floatTobool,sep="_")

boolToint = int(scorePy)
boolToistr = str(scorePy)
boolTofloat = bool(scorePy)
print(boolToint,boolToistr,boolTofloat,sep="_")

4353453236_4353453234.0_True
23_23.0_True
85_85.5_True
85_85.5_True

In [109]:
#tipe data basis bilangan (desimal,biner,octal,hexa)

desimal  = 500
biner = 0b1010 
octal = 0o377
hexa = 0xff

print("nilai desimal", desimal)
print("nilai biner", biner)
print("nilai octal", octal)
print("nilai hexa", hexa)

print("nilai biner dari ", desimal ," : ",bin(desimal))
print("nilai octal dari ", desimal ," : ",oct(desimal))
print("nilai hex dari ", desimal ," : ",hex(desimal))

nilai desimal 500
nilai biner 10
nilai octal 255
nilai hexa 255
nilai biner dari  500  :  0b111110100
nilai octal dari  500  :  0o764
nilai hex dari  500  :  0x1f4

In [85]:
city = "BANDUNG"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

B
7
G

In [115]:
#tipe data collection
#list
cities = ["bandung","sukabumi","bogor","maluku",]
lencities = len(cities)
print(cities)
print(cities[lencities-1])
print(cities[lencities-1][0])
print(cities[lencities-1][len(cities[lencities-1])-1])
cities[3] = "bali"
print(cities)

#tupple
names = ("latip","lutfi","asdfjj","sdfjshd",)
print(names)
print(names[0])

['bandung', 'sukabumi', 'bogor', 'maluku']
maluku
m
u
['bandung', 'sukabumi', 'bogor', 'bali']
('latip', 'lutfi', 'asdfjj', 'sdfjshd')
latip

In [133]:
datamhs = {
    "nama" : "latip",
    "umur" : 10,
    "alamat" : {
        "jalan" : "rh.didisukardi",
        "noRumah" : 21,
        "provinsi" : "jawabarat"
    },
    "Ismaried ? " : False,
    "hobbi" : ["membaca","mendaki"]
}

print(datamhs)
print(datamhs["umur"])
print(datamhs["alamat"]["noRumah"])
print(datamhs["hobbi"][0])

studentlist = [
  {
    "nama" : "febrianka",
    "umur" : 13,
    "alamat" : {
        "jalan" : "rh.didisukardi",
        "noRumah" : 21,
        "provinsi" : "jawabarat"
    },
    "Ismaried ? " : False,
    "hobbi" : ["membaca","mendaki"]
},
    {
    "nama" : "tanpanama",
    "umur" : 100,
    "alamat" : {
        "jalan" : "suka",
        "noRumah" : 21,
        "provinsi" : "jawab"
    },
    "Ismaried ? " : False,
    "hobbi" : ["game","main"]
},
    {
    "nama" : "suka",
    "umur" : 78,
    "alamat" : {
        "jalan" : "sukab",
        "noRumah" : 21,
        "provinsi" : "jawabsdf"
    },
    "Ismaried ? " : False,
    "hobbi" : ["asdf","lorem"]
}
]

print(studentlist[0])
print(studentlist[1])
print(studentlist[2])
print(studentlist[0]["umur"])

{'nama': 'latip', 'umur': 10, 'alamat': {'jalan': 'rh.didisukardi', 'noRumah': 21, 'provinsi': 'jawabarat'}, 'Ismaried ? ': False, 'hobbi': ['membaca', 'mendaki']}
10
21
membaca
{'nama': 'febrianka', 'umur': 13, 'alamat': {'jalan': 'rh.didisukardi', 'noRumah': 21, 'provinsi': 'jawabarat'}, 'Ismaried ? ': False, 'hobbi': ['membaca', 'mendaki']}
{'nama': 'tanpanama', 'umur': 100, 'alamat': {'jalan': 'suka', 'noRumah': 21, 'provinsi': 'jawab'}, 'Ismaried ? ': False, 'hobbi': ['game', 'main']}
{'nama': 'suka', 'umur': 78, 'alamat': {'jalan': 'sukab', 'noRumah': 21, 'provinsi': 'jawabsdf'}, 'Ismaried ? ': False, 'hobbi': ['asdf', 'lorem']}
13

In [147]:
#konversi dictionary
list_list = [["nama","latip"],["umur",30],["status",True]]
diclistmhs = dict( list_list)
print(diclistmhs)

list_tuple = [("nama", "latip"),("alamat", "sukabumi")]
diclistmhs = dict(list_tuple)
print(diclistmhs)

tuple_list = (["nama", "macan"],["tipe", "mamalia"])
dictlistanimal = dict(tuple_list)
print(dictlistanimal)

tuple_tuple = (("nama","cobra"),("tipe","reptil"))
dictlistanimal = dict(tuple_tuple)
print(dictlistanimal)

keys = ["vehicle","brand","cc"]
values = ["car", "mustang","1"]
car = dict(zip(keys,values))
print(car)

{'nama': 'latip', 'umur': 30, 'status': True}
{'nama': 'latip', 'alamat': 'sukabumi'}
{'nama': 'macan', 'tipe': 'mamalia'}
{'nama': 'cobra', 'tipe': 'reptil'}
{'vehicle': 'car', 'brand': 'mustang', 'cc': '1'}